<body>

   <div class="container mt-5">
      <div class="card o-hidden border-5 shadow-lg" style="margin-top: 11rem;">
         <div class="card-body p-0">
            <div class="row" >
               <div class="col-lg">
                  <div class="p-5 " >
                     <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">ADD COUPONS</h1>
                     </div>
                     
                     <form class="user" action="/admin/addcoupons" method="post" enctype="multipart/form-data">

                        <div class="form-group row">
                           <input type="text" class="form-control text-center" id="name" onkeyup="validname()"
                              placeholder="Coupon Name" name="coupon_name">
                              <span id="name-error" style="color: red;"></span>
                        </div>

                        {{#if err}}
                        <div class="valid text-center " style="color: red; font-family: 'FontAwesome';">{{err}}</div>
                        {{/if}}

                        <div class="form-group row">
                           <input type="number" class="form-control text-center" id="offer" onkeyup="validoffer()"
                              placeholder="Offer Amount" name="offer_amount">
                              <span id="offer-error" style="color: red;"></span>
                        </div>

                        <button type="submit" class="btn btn-block"
                           style="background-color: #FB641B;color:white;" onclick="validateForm()">Submit</button>
                        <div class="container p-3" style="width: 100%; height: 5rem; text-align: center;">
                           <span id="errorMessage" style="color: red;" class="text-center"></span>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

    {{!-- validateForm --}}
   <script>
      var nameError = document.getElementById('name-error')
      var offerError = document.getElementById('offer-error')
      var errorMessage = document.getElementById('errorMessage')


      function validname() {
         var name = document.getElementById('name').value;
         if (name.length >= 10 || name == '') {
            nameError.innerHTML = "Invalid Details"
            return false
         } else {
            nameError.innerHTML = ""
            return true
         }
      }

      function validoffer() {
         var offer = document.getElementById('offer').value;
         if (offer.length >= 10 || offer == '') {
            offerError.innerHTML = "Invalid Details"
            return false
         } else {
            offerError.innerHTML = ""
            return true
         }
      }

      function validateForm() {
         if (!validname() || !validoffer())
         errorMessage.style.display = 'block';
         errorMessage.innerHTML = "Enter All Details Properly";
         setTimeout(function () { errorMessage.style.display = 'none'; }, 3000);
         return false;
      }
   </script>
   {{!-- End --}}