<style>
    .bg-color{
          background-color:white;
          font-family: Arial, Helvetica, sans-serif;
      }
      .btn-rounded{
          border-radius: 30px;
      }
</style>
<body class="bg-color">
    <section class="container mt-5">
        <div class="row justify-content-md-center" style="margin-top: 6rem;">
            <form class="col-md-6 col-sm-12 bg-white p-5 rounded shadow" action="/admin/addusers" method="post">
                <div class="col-12 text-center">
                    <h3 class="text-dark"><strong>ADD A NEW USER</strong></h3>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">First Name</label>
                    <input type="text" name="fname" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Place</label>
                    <input type="text" name="place" class="form-control" id="address" required>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Mobile</label>
                    <input type="text" name="mobile" class="form-control" id="mobile" required>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Password</label>
                    <input type="text" name="password" class="form-control" id="age" required>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-rounded w-75" style="background-color: #FB641B; color: white;">Create New</button>
                </div> 
            </form>
        </div>
    </section>
</body>
