<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
{{!-- <body>
<div style="background-size: cover;">
   <img src="/images/84918-404-error-doodle-animation.gif" alt="" 
   style="">
</div>



<script src="https://assets4.lottiefiles.com/packages/lf20_zyu0ctqb.json"></script>
</body> --}}
