<style>
  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .body {
    background-color: white;
  }

  .social-link:hover,
  .social-link:focus {
    background: white;
    text-decoration: none;
    color: #555;
  }
</style>



<div class="body">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">OUR SPECIALITY</h1>
        <p class="lead text-muted mb-0">No Cost EMI <br>
          In an attempt to make high-end products accessible to all, our No Cost EMI plan enables you to shop with us
          under EMI, without shelling out any processing fee. Applicable on select mobiles, laptops, large and small
          appliances, furniture, electronics and watches, you can now shop without burning a hole in your pocket. If
          you've been eyeing a product for a long time, chances are it may be up for a no cost EMI. Take a look ASAP!
          Terms and conditions apply.<br><br>
          EMI on Debit Cards<br>
          Did you know debit card holders account for 79.38 crore in the country, while there are only 3.14 crore credit
          card holders? After enabling EMI on Credit Cards, in another attempt to make online shopping accessible to
          everyone, Flipkart introduces EMI on Debit Cards, empowering you to shop confidently with us without having to
          worry about pauses in monthly cash flow. At present, we have partnered with Axis Bank, HDFC Bank, State Bank
          of India and ICICI Bank for this facility. More power to all our shoppers! Terms and conditions apply.<br><br>
          Mobile Exchange Offers<br>
          Get an instant discount on the phone that you have been eyeing on. Exchange your old mobile for a new one
          after the Flipkart experts calculate the value of your old phone, provided it is in a working condition
          without damage to the screen. If a phone is applicable for an exchange offer, you will see the 'Buy with
          Exchange' option on the product description of the phone. So, be smart, always opt for an exchange wherever
          possible. Terms and conditions apply.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt=""
          class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Best Quality Service Experience</h2>
        <p class="font-italic text-muted mb-4">Customer service is the direct one-on-one interaction between a consumer making a purchase and a representative of the company that is selling it. Most retailers see this direct interaction as a critical factor in ensuring buyer satisfaction and encouraging repeat business.</p>
        <p>We Provide our Best Customer Service and Experience</p>
      </div>

      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
          src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">A Mission to Accelerate Success</h2>
        <p class="font-italic text-muted mb-4">Our core focus is building fast, flexible, and reliable digital commerce. We are committed to providing tools and services that empower SMBs to rapidly and efficiently gain awareness, drive revenue, and manage all aspects of digital commerce. We achieve this by cultivating a team of adaptable, collaborative, effective, founder-focused, humble, and transparent experts who focus on solving for the customer.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">OUR TEAM</h2>
        <p class="font-italic text-muted">We are the team of this mission</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>